@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

/* media queries */
@media (max-width: 767px) {
    .logo h1 {
        font-size: $size-h1-mobile;
    }
    .hero h2,
    .destacados h2,
    .perfil-olfativo h2,
    .recomendaciones h2,
    .promociones h2,
    .nuestra-comunidad h2,
    .producto-ysl h2,
    .producto-pr h2,
    .producto-set h2,
    .presentacion-perfil-olfativo h2,
    .container h2 {
        font-size: $size-h2-mobile;
    }

    .fragancia-destacada h3,
    .contenedor-producto h3,
    .presentacion-perfil-olfativo h3,
    .container h3 {
        font-size: $size-h3-mobile;
    }
}

@media (max-width: 1023px) {
    .hero-index {
        max-width: 100%;
        background-size: cover, 100% auto;
        background-position: center, top center;
        background-repeat: no-repeat;
        background-color: $color-principal;
        padding-top: 32vw;
        min-height: auto;
    }
}

@media (min-width: 768px) {
    .destacados {
        max-width: 95%;
        width: 95%;
    } 
    .grilla-productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
} 

@media (min-width: 1024px) {    
    /*header*/
    .header {
        padding: 15px;
        @include flexbox (row, space-between, center);
    }    
    .logo {
        gap: 20px;
    } 

    .links-pages { 
        flex-wrap: nowrap;
        @include estilos-caja(0, 0, 15px);
        @include flexbox (row, null, center);  
    }

    /* Se usará más adelante
    .accesos {
        display: flex;
        background-color: transparent;
        @include estilos-caja(0, 0, 12px);
        @include flexbox (row, null, center);
    } */
    
    /* Se usará más adelante
    .accesos .crear-cuenta,
    .accesos .acceder, */
    .links-pages li a {
        padding: 8px 16px;
        font-size: 14px;
        display: inline-flex;
        height: 38px; 
        box-sizing: border-box;
        @include flexbox (null, center, center);  
    }

    .navbar .container-fluid {
        display: flex;
        @include flexbox (null, space-between, center);
    }

    /*principal*/

    .contenedor-principal {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "hero"
            "destacados"
            "perfil"
            "recomendaciones"
            "promociones"
            "nuestra-comunidad";
        max-width: 1200px;
        @include estilos-caja(0 20px, 0 auto 60px auto, 40px);
    }

    .hero {
        width: 100vw;
        max-width: 100vw;
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        margin-top: 30px;
        padding: 50px;
    }

    .hero-index {
        min-height: 500px;
        background-size: cover, contain;
        background-repeat: no-repeat;
        background-color: $color-principal;
    }

    .hero { grid-area: hero; }
    .destacados { grid-area: destacados; }
    .perfil-olfativo { grid-area: perfil; }
    .recomendaciones { grid-area: recomendaciones; }
    .promociones { grid-area: promociones; }
    .nuestra-comunidad { grid-area: nuestra-comunidad; }

    /*destacados*/
    .destacados { 
        width: 100%;
        max-width: 100%;
        @include estilos-caja(40px 40px 60px 40px, 0, 30px);
    }

    /*otras secciones*/
    .perfil-olfativo,
    .recomendaciones,
    .promociones,
    .nuestra-comunidad {
        width: 100%;
        max-width: 100%;
        @include estilos-caja(50px 40px, 0, null);
    }

    .promociones {
    padding: 20px 40px;
    }    
    
    /*productos*/
    .contenedor-productos {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        @include estilos-caja(0 20px, 0 auto 60px auto, 40px);
    }

    .producto-ysl,
    .producto-pr,
    .producto-set {
        width: 100%;
        max-width: 1200px;
        @include estilos-caja(40px, 0, 30px);
    }

    .grilla-productos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        align-items: stretch;
    }

    /*footer*/
    .contenedor-footer {
        justify-content: space-evenly;
        .lista-footer {
            padding: 0;
        }
    }

    .copyright {
        font-size: 11px;
    }

    .fragancia-destacada figure img,
    .contenedor-producto figure img {
        @include imagen-producto($size-img-desktop);
    }
}