@mixin estilos-caja($padding, $margin, $gap) {
    padding: $padding;
    margin: $margin;
    gap: $gap;
}

@mixin flexbox ($flex-direction, $justify-content, $align-items) {
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

// animacion para botones
@mixin boton-presionable($profundidad: 6px, $duracion: 0.15s, $escala: 1.05) {
    transition: transform $duracion ease;
    &:hover {
        transform: scale($escala);
    }
    &:active {
        transform: translateY($profundidad);
    }
}