@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.nosotros-presentacion p, 
.nosotros-presentacion figcaption {
    text-align: center;
    margin: 20px 0;
}

.accordion-nosotros {
    --bs-accordion-active-bg: #{$color-nav-fondo};
    --bs-accordion-active-color: #{$color-nav-acento};
    --bs-accordion-btn-bg: #{$color-nav-fondo};
    --bs-accordion-btn-color: #{$color-nav-acento};
}